[submodule "lab1"]
	path = lab1
	url = git@github.com:algo-2025/lab1.git
[submodule "lab2"]
	path = lab2
	url = git@github.com:algo-2025/lab2.git
[submodule "lab3"]
	path = lab3
	url = git@github.com:algo-2025/lab3.git
[submodule "lab4"]
	path = lab4
	url = git@github.com:algo-2025/lab4.git
[submodule "lab5"]
	path = lab5
	url = git@github.com:algo-2025/lab5.git
[submodule "lab6"]
	path = lab6
	url = git@github.com:algo-2025/lab6.git
[submodule "lab7"]
	path = lab7
	url = git@github.com:algo-2025/lab7.git
[submodule "lab8"]
	path = lab8
	url = git@github.com:algo-2025/lab8.git
[submodule "lab9"]
	path = lab9
	url = git@github.com:algo-2025/lab9.git
[submodule "lab10"]
	path = lab10
	url = git@github.com:algo-2025/lab10.git
[submodule "lab11"]
	path = lab11
	url = git@github.com:algo-2025/lab11.git
